body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
  &:hover{
    text-decoration: none;
    color: aliceblue;
  }
}

.main__container{
  display: grid;
  grid-template-columns: 300px 1fr;
}

.event__container{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.event-done{
  text-decoration: line-through;
}

.event__description{

}
