.simple-calendar {
  .calendar-heading{
    background-image: url("https://source.unsplash.com/random");
    height: 200px;
    background-position: center right;
    background-size: cover;
    padding: 60px 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 730px;
    height: auto;
    margin: 0 auto;
    .calendar-title{
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
    }
    a {
      transition: transform 0.3s ease;
      font-size: 36px;
    }
    a:first-child:hover {
      transform: translateX(-5px);
    }
    a:last-child:hover {
      transform: translateX(5px);
    }
  }


  table {
    max-width: 730px;
    height: auto;
    margin: 0 auto;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}
