.simple-calendar {

  ////////////// HEADER CALENDER //////////////
  .calendar-heading{
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    background-size: cover;
    padding: 5em 1em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    min-width: 400px;
    height: auto;
    margin: 0 auto;
    .calendar-title{
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
    }
    a {
      transition: transform 0.3s ease;
      font-size: 1.5rem;
    }
    a:first-child:hover {
      transform: translateX(-5px);
    }
    a:last-child:hover {
      transform: translateX(5px);
    }
  }

  ////////////// TABLE //////////////
  .present-bullet{
    display: block;
    font-size: 1.5rem;
  }

  table {
    background-color: #fff;
    line-height: 1.7rem;
    overflow: hidden;
    text-align: center;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    text-align: center;
  }

  td {
    background-color: white;
    border:none;
    cursor: pointer;
    &:hover{
      background-color: rgb(216, 216, 216);
    }
  }

  .day {
    height: 70px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0;
    &:hover{
      background: rgb(176, 155, 196);
    }
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}
